<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ed0e9cf9f636df77b09e964ee1c7fa31 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ed0e9cf9f636df77b09e964ee1c7fa31" ></div>
        
</body>
<script>
    
    
            var map_ed0e9cf9f636df77b09e964ee1c7fa31 = L.map(
                "map_ed0e9cf9f636df77b09e964ee1c7fa31",
                {
                    center: [-8.09036447, 110.4921292625],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_c2b2bb3301d796e27ff1139d11cd99c9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_c2b2bb3301d796e27ff1139d11cd99c9.addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
            var marker_e9bd89e13f1560fbf9569b5706d9d94b = L.marker(
                [-7.902035499999998, 110.4374627],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_831f22c0d2eec278ad61d99659ef3bed = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec5c8269ea0600935f3947d98a63d9a7 = $(`<div id="html_ec5c8269ea0600935f3947d98a63d9a7" style="width: 100.0%; height: 100.0%;"><b>Puncak Pinus Becici</b><br>Kategori: Taman Hiburan<br>Harga: 3000<br>Rating: 4.5</div>`)[0];
                popup_831f22c0d2eec278ad61d99659ef3bed.setContent(html_ec5c8269ea0600935f3947d98a63d9a7);
            
        

        marker_e9bd89e13f1560fbf9569b5706d9d94b.bindPopup(popup_831f22c0d2eec278ad61d99659ef3bed)
        ;

        
    
    
            marker_e9bd89e13f1560fbf9569b5706d9d94b.bindTooltip(
                `<div>
                     Puncak Pinus Becici
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_da77e0cc303adb7494eaa5a1d222bd78 = L.marker(
                [-7.999422999999998, 110.248963],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_d7a77025c4f1e6db591cf16c43b2fb72 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_51b0b1f1888776fe839145ef1300f008 = $(`<div id="html_51b0b1f1888776fe839145ef1300f008" style="width: 100.0%; height: 100.0%;"><b>Pantai Goa Cemara</b><br>Kategori: Bahari<br>Harga: 4000<br>Rating: 4.3</div>`)[0];
                popup_d7a77025c4f1e6db591cf16c43b2fb72.setContent(html_51b0b1f1888776fe839145ef1300f008);
            
        

        marker_da77e0cc303adb7494eaa5a1d222bd78.bindPopup(popup_d7a77025c4f1e6db591cf16c43b2fb72)
        ;

        
    
    
            marker_da77e0cc303adb7494eaa5a1d222bd78.bindTooltip(
                `<div>
                     Pantai Goa Cemara
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0e36a9d6c3ee1c26faef9a23ecfd5fad = L.marker(
                [-8.0173266, 110.3180791],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_773a90649dde0faa7e6e4a2174d08a03 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d5dcc6d583a3285a13f0d1924ec4362b = $(`<div id="html_d5dcc6d583a3285a13f0d1924ec4362b" style="width: 100.0%; height: 100.0%;"><b>Gumuk Pasir Parangkusumo</b><br>Kategori: Taman Hiburan<br>Harga: 0<br>Rating: 4.5</div>`)[0];
                popup_773a90649dde0faa7e6e4a2174d08a03.setContent(html_d5dcc6d583a3285a13f0d1924ec4362b);
            
        

        marker_0e36a9d6c3ee1c26faef9a23ecfd5fad.bindPopup(popup_773a90649dde0faa7e6e4a2174d08a03)
        ;

        
    
    
            marker_0e36a9d6c3ee1c26faef9a23ecfd5fad.bindTooltip(
                `<div>
                     Gumuk Pasir Parangkusumo
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_407d00071f306ff951db63cd5c975a8b = L.marker(
                [-7.941371800000001, 110.4247345],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_2e3ffcab7518410e3871eba0f68b457f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_07879c34e525ae65716cfd309a5cfafa = $(`<div id="html_07879c34e525ae65716cfd309a5cfafa" style="width: 100.0%; height: 100.0%;"><b>Puncak Kebun Buah Mangunan</b><br>Kategori: Taman Hiburan<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_2e3ffcab7518410e3871eba0f68b457f.setContent(html_07879c34e525ae65716cfd309a5cfafa);
            
        

        marker_407d00071f306ff951db63cd5c975a8b.bindPopup(popup_2e3ffcab7518410e3871eba0f68b457f)
        ;

        
    
    
            marker_407d00071f306ff951db63cd5c975a8b.bindTooltip(
                `<div>
                     Puncak Kebun Buah Mangunan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5cfbc8ac8f3d82236bd29e90f7bbbffb = L.marker(
                [-7.997777999999999, 110.2449113],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_78c6d7a03901f5c984550be8f5dffcca = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a5193f02253333bbc555d788a818b13d = $(`<div id="html_a5193f02253333bbc555d788a818b13d" style="width: 100.0%; height: 100.0%;"><b>Pantai Patihan</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.1</div>`)[0];
                popup_78c6d7a03901f5c984550be8f5dffcca.setContent(html_a5193f02253333bbc555d788a818b13d);
            
        

        marker_5cfbc8ac8f3d82236bd29e90f7bbbffb.bindPopup(popup_78c6d7a03901f5c984550be8f5dffcca)
        ;

        
    
    
            marker_5cfbc8ac8f3d82236bd29e90f7bbbffb.bindTooltip(
                `<div>
                     Pantai Patihan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f7c56a40ca2c01095d18262a67689936 = L.marker(
                [-8.133876299999999, 110.5548349],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_4c4b5c6433a5e24f1df83721c2cf0535 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8c6fb47c2188e454e2bb94f36392432e = $(`<div id="html_8c6fb47c2188e454e2bb94f36392432e" style="width: 100.0%; height: 100.0%;"><b>Pantai Kukup</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 0.4</div>`)[0];
                popup_4c4b5c6433a5e24f1df83721c2cf0535.setContent(html_8c6fb47c2188e454e2bb94f36392432e);
            
        

        marker_f7c56a40ca2c01095d18262a67689936.bindPopup(popup_4c4b5c6433a5e24f1df83721c2cf0535)
        ;

        
    
    
            marker_f7c56a40ca2c01095d18262a67689936.bindTooltip(
                `<div>
                     Pantai Kukup
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_94256cbc0b9afcc8994a56fd9af323f0 = L.marker(
                [-8.1333389, 110.5537405],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_22698af70e26955088d84590a8d82632 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_09ed473f1bd2831d1e7a02b1e49d4490 = $(`<div id="html_09ed473f1bd2831d1e7a02b1e49d4490" style="width: 100.0%; height: 100.0%;"><b>Pantai Ngrawe (Mesra)</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_22698af70e26955088d84590a8d82632.setContent(html_09ed473f1bd2831d1e7a02b1e49d4490);
            
        

        marker_94256cbc0b9afcc8994a56fd9af323f0.bindPopup(popup_22698af70e26955088d84590a8d82632)
        ;

        
    
    
            marker_94256cbc0b9afcc8994a56fd9af323f0.bindTooltip(
                `<div>
                     Pantai Ngrawe (Mesra)
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_3e741e2b93428f2a39759ab0b6030b26 = L.marker(
                [-8.1184844, 110.5028785],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_cb4cc47790c3bd7f560d4455b1d9c85f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e988c60e1cc1cfa86079a7ef64ab4851 = $(`<div id="html_e988c60e1cc1cfa86079a7ef64ab4851" style="width: 100.0%; height: 100.0%;"><b>Pantai Ngobaran</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_cb4cc47790c3bd7f560d4455b1d9c85f.setContent(html_e988c60e1cc1cfa86079a7ef64ab4851);
            
        

        marker_3e741e2b93428f2a39759ab0b6030b26.bindPopup(popup_cb4cc47790c3bd7f560d4455b1d9c85f)
        ;

        
    
    
            marker_3e741e2b93428f2a39759ab0b6030b26.bindTooltip(
                `<div>
                     Pantai Ngobaran
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_59b7bcd858eacb4fa3641dfedf17634e = L.marker(
                [-8.1506589, 110.6126311],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_bfc43d3c2965f1f8ad79c7bf8a7b86a5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9edf36784049bbcbe79b9988db94ab46 = $(`<div id="html_9edf36784049bbcbe79b9988db94ab46" style="width: 100.0%; height: 100.0%;"><b>Pantai Pulang Sawal</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_bfc43d3c2965f1f8ad79c7bf8a7b86a5.setContent(html_9edf36784049bbcbe79b9988db94ab46);
            
        

        marker_59b7bcd858eacb4fa3641dfedf17634e.bindPopup(popup_bfc43d3c2965f1f8ad79c7bf8a7b86a5)
        ;

        
    
    
            marker_59b7bcd858eacb4fa3641dfedf17634e.bindTooltip(
                `<div>
                     Pantai Pulang Sawal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_99b95712f0021f6935dd743ae2a9bf88 = L.marker(
                [-8.1288246, 110.5487763],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_f1196f8b7831409964bdb6e634ef7113 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2980c79233a6c424c2b9ab51f1bd6ffc = $(`<div id="html_2980c79233a6c424c2b9ab51f1bd6ffc" style="width: 100.0%; height: 100.0%;"><b>Pantai Baron</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.4</div>`)[0];
                popup_f1196f8b7831409964bdb6e634ef7113.setContent(html_2980c79233a6c424c2b9ab51f1bd6ffc);
            
        

        marker_99b95712f0021f6935dd743ae2a9bf88.bindPopup(popup_f1196f8b7831409964bdb6e634ef7113)
        ;

        
    
    
            marker_99b95712f0021f6935dd743ae2a9bf88.bindTooltip(
                `<div>
                     Pantai Baron
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_33db2d2104ad1259844729b6e0ce0fa8 = L.marker(
                [-8.1554468, 110.6217582],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_2caac2fce8c0c9e3319afd553028be6b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7d27affb9654b64213689a09f5b2449a = $(`<div id="html_7d27affb9654b64213689a09f5b2449a" style="width: 100.0%; height: 100.0%;"><b>Pantai Pok Tunggal</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_2caac2fce8c0c9e3319afd553028be6b.setContent(html_7d27affb9654b64213689a09f5b2449a);
            
        

        marker_33db2d2104ad1259844729b6e0ce0fa8.bindPopup(popup_2caac2fce8c0c9e3319afd553028be6b)
        ;

        
    
    
            marker_33db2d2104ad1259844729b6e0ce0fa8.bindTooltip(
                `<div>
                     Pantai Pok Tunggal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_99dcd84b6b0cd9cc8e235caa90788cbb = L.marker(
                [-8.026855099999999, 110.3459122],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_bcdda4b041ad1786b0a631124127fd94 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d7d043273b72e62fdb9deda3055b265b = $(`<div id="html_d7d043273b72e62fdb9deda3055b265b" style="width: 100.0%; height: 100.0%;"><b>Bukit Paralayang, Watugupit</b><br>Kategori: Cagar Alam<br>Harga: 5000<br>Rating: 4.7</div>`)[0];
                popup_bcdda4b041ad1786b0a631124127fd94.setContent(html_d7d043273b72e62fdb9deda3055b265b);
            
        

        marker_99dcd84b6b0cd9cc8e235caa90788cbb.bindPopup(popup_bcdda4b041ad1786b0a631124127fd94)
        ;

        
    
    
            marker_99dcd84b6b0cd9cc8e235caa90788cbb.bindTooltip(
                `<div>
                     Bukit Paralayang, Watugupit
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d38c917d2793aa480a6e9a836cbd65d3 = L.marker(
                [-8.1759266, 110.6624196],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_0222f123f809e0e75478f41dafd1be05 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_15d923b2c94eb68fbff124f8470c5523 = $(`<div id="html_15d923b2c94eb68fbff124f8470c5523" style="width: 100.0%; height: 100.0%;"><b>Pantai Timang</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.7</div>`)[0];
                popup_0222f123f809e0e75478f41dafd1be05.setContent(html_15d923b2c94eb68fbff124f8470c5523);
            
        

        marker_d38c917d2793aa480a6e9a836cbd65d3.bindPopup(popup_0222f123f809e0e75478f41dafd1be05)
        ;

        
    
    
            marker_d38c917d2793aa480a6e9a836cbd65d3.bindTooltip(
                `<div>
                     Pantai Timang
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f982af2ec6c294a8daeb380e4ca8b870 = L.marker(
                [-8.1026167, 110.4562084],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_30689462dc5146d3f8463581c208ab0c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_53295057faaa0895fad4c1596e422302 = $(`<div id="html_53295057faaa0895fad4c1596e422302" style="width: 100.0%; height: 100.0%;"><b>Puncak Segoro</b><br>Kategori: Cagar Alam<br>Harga: 5000<br>Rating: 4.2</div>`)[0];
                popup_30689462dc5146d3f8463581c208ab0c.setContent(html_53295057faaa0895fad4c1596e422302);
            
        

        marker_f982af2ec6c294a8daeb380e4ca8b870.bindPopup(popup_30689462dc5146d3f8463581c208ab0c)
        ;

        
    
    
            marker_f982af2ec6c294a8daeb380e4ca8b870.bindTooltip(
                `<div>
                     Puncak Segoro
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0cc4e96c836f6696667b4ab889a39489 = L.marker(
                [-8.1508415, 110.6129852],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_2cf2082a96ca1a630fc37539174b1070 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9f385fe27713ba16b10980a56e877fb0 = $(`<div id="html_9f385fe27713ba16b10980a56e877fb0" style="width: 100.0%; height: 100.0%;"><b>Pantai Indrayanti</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_2cf2082a96ca1a630fc37539174b1070.setContent(html_9f385fe27713ba16b10980a56e877fb0);
            
        

        marker_0cc4e96c836f6696667b4ab889a39489.bindPopup(popup_2cf2082a96ca1a630fc37539174b1070)
        ;

        
    
    
            marker_0cc4e96c836f6696667b4ab889a39489.bindTooltip(
                `<div>
                     Pantai Indrayanti
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0f3eca8c9d87f2745e63b433c30cdd99 = L.marker(
                [-8.1827028, 110.6792399],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_613130ea7436514f528fdf26fa2b9950 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc2daee013ee621acde8c63d523cf973 = $(`<div id="html_dc2daee013ee621acde8c63d523cf973" style="width: 100.0%; height: 100.0%;"><b>Pantai Nglambor</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.4</div>`)[0];
                popup_613130ea7436514f528fdf26fa2b9950.setContent(html_dc2daee013ee621acde8c63d523cf973);
            
        

        marker_0f3eca8c9d87f2745e63b433c30cdd99.bindPopup(popup_613130ea7436514f528fdf26fa2b9950)
        ;

        
    
    
            marker_0f3eca8c9d87f2745e63b433c30cdd99.bindTooltip(
                `<div>
                     Pantai Nglambor
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_6a5ace5f93f09e917472cbd5eafb30c1 = L.marker(
                [-8.024607999999999, 110.3298045],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_791cab5fc8bafa7de7b6aace807c4128 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_055dac4039a7dfd3089fa044dd9a10fa = $(`<div id="html_055dac4039a7dfd3089fa044dd9a10fa" style="width: 100.0%; height: 100.0%;"><b>Pantai Parangtritis</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_791cab5fc8bafa7de7b6aace807c4128.setContent(html_055dac4039a7dfd3089fa044dd9a10fa);
            
        

        marker_6a5ace5f93f09e917472cbd5eafb30c1.bindPopup(popup_791cab5fc8bafa7de7b6aace807c4128)
        ;

        
    
    
            marker_6a5ace5f93f09e917472cbd5eafb30c1.bindTooltip(
                `<div>
                     Pantai Parangtritis
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_7c7aa5f1646accb59d3bc17594acca94 = L.marker(
                [-8.0137087, 110.2914777],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_05371225b94e3eca14257a12ce700c0d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_609097f2ff6bfcd5196f29d9e64b50ea = $(`<div id="html_609097f2ff6bfcd5196f29d9e64b50ea" style="width: 100.0%; height: 100.0%;"><b>Pantai Depok Jogja</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.3</div>`)[0];
                popup_05371225b94e3eca14257a12ce700c0d.setContent(html_609097f2ff6bfcd5196f29d9e64b50ea);
            
        

        marker_7c7aa5f1646accb59d3bc17594acca94.bindPopup(popup_05371225b94e3eca14257a12ce700c0d)
        ;

        
    
    
            marker_7c7aa5f1646accb59d3bc17594acca94.bindTooltip(
                `<div>
                     Pantai Depok Jogja
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_009baed6906238acf436fc81ba91f6a7 = L.marker(
                [-8.147072, 110.6079043],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_66369029a2a6dabad2e90e569b4760fa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_de0c0919018940a37a0841726b7418d8 = $(`<div id="html_de0c0919018940a37a0841726b7418d8" style="width: 100.0%; height: 100.0%;"><b>Pantai Sundak</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.5</div>`)[0];
                popup_66369029a2a6dabad2e90e569b4760fa.setContent(html_de0c0919018940a37a0841726b7418d8);
            
        

        marker_009baed6906238acf436fc81ba91f6a7.bindPopup(popup_66369029a2a6dabad2e90e569b4760fa)
        ;

        
    
    
            marker_009baed6906238acf436fc81ba91f6a7.bindTooltip(
                `<div>
                     Pantai Sundak
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a5e0962f0f6721278494d3addca661f9 = L.marker(
                [-7.8933459, 110.0198257],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_df673038d8b864ad694f37b846e342ec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_87aab72dbed3399e693c12ebe8141db2 = $(`<div id="html_87aab72dbed3399e693c12ebe8141db2" style="width: 100.0%; height: 100.0%;"><b>Hutan Mangrove Kulon Progo</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.1</div>`)[0];
                popup_df673038d8b864ad694f37b846e342ec.setContent(html_87aab72dbed3399e693c12ebe8141db2);
            
        

        marker_a5e0962f0f6721278494d3addca661f9.bindPopup(popup_df673038d8b864ad694f37b846e342ec)
        ;

        
    
    
            marker_a5e0962f0f6721278494d3addca661f9.bindTooltip(
                `<div>
                     Hutan Mangrove Kulon Progo
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0df9d0896888370abbd22a0357760d32 = L.marker(
                [-8.136665599999999, 110.5659962],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_16f96938670ff31a0014be95aafdb8ea = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4f05a72ea184d70daa1818ad32bd5b95 = $(`<div id="html_4f05a72ea184d70daa1818ad32bd5b95" style="width: 100.0%; height: 100.0%;"><b>Pantai Sepanjang</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.4</div>`)[0];
                popup_16f96938670ff31a0014be95aafdb8ea.setContent(html_4f05a72ea184d70daa1818ad32bd5b95);
            
        

        marker_0df9d0896888370abbd22a0357760d32.bindPopup(popup_16f96938670ff31a0014be95aafdb8ea)
        ;

        
    
    
            marker_0df9d0896888370abbd22a0357760d32.bindTooltip(
                `<div>
                     Pantai Sepanjang
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f80a0fd08d039d474c9e16b9b35c4ed5 = L.marker(
                [-8.145019, 110.5998857],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_2056c72dc635d776a47c978ac785a66d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a8538a40dfc06b8b32b30b20bf72fe9d = $(`<div id="html_a8538a40dfc06b8b32b30b20bf72fe9d" style="width: 100.0%; height: 100.0%;"><b>Pantai Krakal</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_2056c72dc635d776a47c978ac785a66d.setContent(html_a8538a40dfc06b8b32b30b20bf72fe9d);
            
        

        marker_f80a0fd08d039d474c9e16b9b35c4ed5.bindPopup(popup_2056c72dc635d776a47c978ac785a66d)
        ;

        
    
    
            marker_f80a0fd08d039d474c9e16b9b35c4ed5.bindTooltip(
                `<div>
                     Pantai Krakal
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_9bb55f2b2c2841eafea579f45d8ba628 = L.marker(
                [-7.911942699999999, 110.0647339],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_6406f9d65a01b989694d8a352cf75fee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_36ee1f4b0540682a0d42992d739c5cd7 = $(`<div id="html_36ee1f4b0540682a0d42992d739c5cd7" style="width: 100.0%; height: 100.0%;"><b>Pantai Glagah</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.4</div>`)[0];
                popup_6406f9d65a01b989694d8a352cf75fee.setContent(html_36ee1f4b0540682a0d42992d739c5cd7);
            
        

        marker_9bb55f2b2c2841eafea579f45d8ba628.bindPopup(popup_6406f9d65a01b989694d8a352cf75fee)
        ;

        
    
    
            marker_9bb55f2b2c2841eafea579f45d8ba628.bindTooltip(
                `<div>
                     Pantai Glagah
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1a3f4699edfe0015ed463644814920d1 = L.marker(
                [-8.1818233, 110.6832394],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_69c2227a318b58b5d1fa9f32cb8f640f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f380fa51a5d46cf00b9d7c28f36d96d2 = $(`<div id="html_f380fa51a5d46cf00b9d7c28f36d96d2" style="width: 100.0%; height: 100.0%;"><b>Pantai Siung</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.6</div>`)[0];
                popup_69c2227a318b58b5d1fa9f32cb8f640f.setContent(html_f380fa51a5d46cf00b9d7c28f36d96d2);
            
        

        marker_1a3f4699edfe0015ed463644814920d1.bindPopup(popup_69c2227a318b58b5d1fa9f32cb8f640f)
        ;

        
    
    
            marker_1a3f4699edfe0015ed463644814920d1.bindTooltip(
                `<div>
                     Pantai Siung
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_3f1707807e555975afc2b96531b181b7 = L.marker(
                [-8.145667999999997, 110.6043914],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_0f8d75dca5561981372695acd13da482 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_de50630306f681b65a309a13419f1e27 = $(`<div id="html_de50630306f681b65a309a13419f1e27" style="width: 100.0%; height: 100.0%;"><b>Pantai Sadranan</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.6</div>`)[0];
                popup_0f8d75dca5561981372695acd13da482.setContent(html_de50630306f681b65a309a13419f1e27);
            
        

        marker_3f1707807e555975afc2b96531b181b7.bindPopup(popup_0f8d75dca5561981372695acd13da482)
        ;

        
    
    
            marker_3f1707807e555975afc2b96531b181b7.bindTooltip(
                `<div>
                     Pantai Sadranan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1f6814b715e0affe1c9eca64dc70aad6 = L.marker(
                [-8.1060061, 110.4618655],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_92117cfc7dbc6b23e18b5c78f0feecc4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_255d89b5a17343e4025f5e95528427ee = $(`<div id="html_255d89b5a17343e4025f5e95528427ee" style="width: 100.0%; height: 100.0%;"><b>Pantai Nguluran</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.1</div>`)[0];
                popup_92117cfc7dbc6b23e18b5c78f0feecc4.setContent(html_255d89b5a17343e4025f5e95528427ee);
            
        

        marker_1f6814b715e0affe1c9eca64dc70aad6.bindPopup(popup_92117cfc7dbc6b23e18b5c78f0feecc4)
        ;

        
    
    
            marker_1f6814b715e0affe1c9eca64dc70aad6.bindTooltip(
                `<div>
                     Pantai Nguluran
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4e602e867df31c05653fd9a840b60512 = L.marker(
                [-8.0045535, 110.2703756],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_d2d60ab666f0b8225c45a2f91505b9a7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6b57747a441936e1f7458c6eb1616585 = $(`<div id="html_6b57747a441936e1f7458c6eb1616585" style="width: 100.0%; height: 100.0%;"><b>Pantai Samas</b><br>Kategori: Bahari<br>Harga: 4000<br>Rating: 0.4</div>`)[0];
                popup_d2d60ab666f0b8225c45a2f91505b9a7.setContent(html_6b57747a441936e1f7458c6eb1616585);
            
        

        marker_4e602e867df31c05653fd9a840b60512.bindPopup(popup_d2d60ab666f0b8225c45a2f91505b9a7)
        ;

        
    
    
            marker_4e602e867df31c05653fd9a840b60512.bindTooltip(
                `<div>
                     Pantai Samas
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1ec310a8e139033e8caf53eb57138458 = L.marker(
                [-8.1384509, 110.577522],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_7c5d3fcddfda34875366eab175203791 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc3464cdfa847e7ff40b65b892b9ba3c = $(`<div id="html_dc3464cdfa847e7ff40b65b892b9ba3c" style="width: 100.0%; height: 100.0%;"><b>Pantai Drini</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_7c5d3fcddfda34875366eab175203791.setContent(html_dc3464cdfa847e7ff40b65b892b9ba3c);
            
        

        marker_1ec310a8e139033e8caf53eb57138458.bindPopup(popup_7c5d3fcddfda34875366eab175203791)
        ;

        
    
    
            marker_1ec310a8e139033e8caf53eb57138458.bindTooltip(
                `<div>
                     Pantai Drini
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_13e02771c0bdd86b5d71ff8e0e27a268 = L.marker(
                [-7.943178000000001, 110.48924],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_284335a80cdc49a0e10ed3b12e48a228 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fc43aeedf5cccd2fd6011c71ec784848 = $(`<div id="html_fc43aeedf5cccd2fd6011c71ec784848" style="width: 100.0%; height: 100.0%;"><b>Air Terjun Sri Gethuk</b><br>Kategori: Cagar Alam<br>Harga: 15000<br>Rating: 4.4</div>`)[0];
                popup_284335a80cdc49a0e10ed3b12e48a228.setContent(html_fc43aeedf5cccd2fd6011c71ec784848);
            
        

        marker_13e02771c0bdd86b5d71ff8e0e27a268.bindPopup(popup_284335a80cdc49a0e10ed3b12e48a228)
        ;

        
    
    
            marker_13e02771c0bdd86b5d71ff8e0e27a268.bindTooltip(
                `<div>
                     Air Terjun Sri Gethuk
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_fabc07b7ef4d1b9685a63a9c5a0bbbb2 = L.marker(
                [-8.1862462, 110.709901],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_b492cd74af9e5626b03aed4ba76148c0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_14dd253ae5a1ba6f2dbdade5a0db4140 = $(`<div id="html_14dd253ae5a1ba6f2dbdade5a0db4140" style="width: 100.0%; height: 100.0%;"><b>Pantai Wediombo</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.5</div>`)[0];
                popup_b492cd74af9e5626b03aed4ba76148c0.setContent(html_14dd253ae5a1ba6f2dbdade5a0db4140);
            
        

        marker_fabc07b7ef4d1b9685a63a9c5a0bbbb2.bindPopup(popup_b492cd74af9e5626b03aed4ba76148c0)
        ;

        
    
    
            marker_fabc07b7ef4d1b9685a63a9c5a0bbbb2.bindTooltip(
                `<div>
                     Pantai Wediombo
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c465842e0c92f3d215af45fdd2a41c83 = L.marker(
                [-8.180135, 110.6763715],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_425017e07cb96d2a1e755e56f474f2da = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1c6f04c41f69add8c967ff43c99d2ebe = $(`<div id="html_1c6f04c41f69add8c967ff43c99d2ebe" style="width: 100.0%; height: 100.0%;"><b>Pantai Jogan</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.4</div>`)[0];
                popup_425017e07cb96d2a1e755e56f474f2da.setContent(html_1c6f04c41f69add8c967ff43c99d2ebe);
            
        

        marker_c465842e0c92f3d215af45fdd2a41c83.bindPopup(popup_425017e07cb96d2a1e755e56f474f2da)
        ;

        
    
    
            marker_c465842e0c92f3d215af45fdd2a41c83.bindTooltip(
                `<div>
                     Pantai Jogan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_19d25fed7c02bf797f4afa82c5574dc1 = L.marker(
                [-8.1211475, 110.5142337],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_20f5b09b075297c422e1709279efb505 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_40a5cde9eef4bfdbc510503bf57a2a64 = $(`<div id="html_40a5cde9eef4bfdbc510503bf57a2a64" style="width: 100.0%; height: 100.0%;"><b>Pantai Ngrenehan</b><br>Kategori: Bahari<br>Harga: 3000<br>Rating: 4.4</div>`)[0];
                popup_20f5b09b075297c422e1709279efb505.setContent(html_40a5cde9eef4bfdbc510503bf57a2a64);
            
        

        marker_19d25fed7c02bf797f4afa82c5574dc1.bindPopup(popup_20f5b09b075297c422e1709279efb505)
        ;

        
    
    
            marker_19d25fed7c02bf797f4afa82c5574dc1.bindTooltip(
                `<div>
                     Pantai Ngrenehan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_dff1b190a804ee3dc831983ce855e5cf = L.marker(
                [-8.197822, 110.7123397],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_d82894039a4a8dea85ac071e714b8ec4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7ac5011e574d088005cfaae614c20f13 = $(`<div id="html_7ac5011e574d088005cfaae614c20f13" style="width: 100.0%; height: 100.0%;"><b>Pantai Jungwok</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_d82894039a4a8dea85ac071e714b8ec4.setContent(html_7ac5011e574d088005cfaae614c20f13);
            
        

        marker_dff1b190a804ee3dc831983ce855e5cf.bindPopup(popup_d82894039a4a8dea85ac071e714b8ec4)
        ;

        
    
    
            marker_dff1b190a804ee3dc831983ce855e5cf.bindTooltip(
                `<div>
                     Pantai Jungwok
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4c89cb3e2d7c27aa74c61987f9f446d4 = L.marker(
                [-8.197864399999998, 110.7186216],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_eeb72d8412ad0da86e3202b8c41718a9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_80b5a770e6ef83121ba8ad5d0d49684e = $(`<div id="html_80b5a770e6ef83121ba8ad5d0d49684e" style="width: 100.0%; height: 100.0%;"><b>Pantai Greweng</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_eeb72d8412ad0da86e3202b8c41718a9.setContent(html_80b5a770e6ef83121ba8ad5d0d49684e);
            
        

        marker_4c89cb3e2d7c27aa74c61987f9f446d4.bindPopup(popup_eeb72d8412ad0da86e3202b8c41718a9)
        ;

        
    
    
            marker_4c89cb3e2d7c27aa74c61987f9f446d4.bindTooltip(
                `<div>
                     Pantai Greweng
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_65657b1b6a9e6931fd887597e7178fea = L.marker(
                [-8.1978943, 110.7208535],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_57403efd3f32a7253ff3f4f578d58544 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2a09ba60d30cfac44e09dab6ce1ab42e = $(`<div id="html_2a09ba60d30cfac44e09dab6ce1ab42e" style="width: 100.0%; height: 100.0%;"><b>Pantai Sedahan</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.5</div>`)[0];
                popup_57403efd3f32a7253ff3f4f578d58544.setContent(html_2a09ba60d30cfac44e09dab6ce1ab42e);
            
        

        marker_65657b1b6a9e6931fd887597e7178fea.bindPopup(popup_57403efd3f32a7253ff3f4f578d58544)
        ;

        
    
    
            marker_65657b1b6a9e6931fd887597e7178fea.bindTooltip(
                `<div>
                     Pantai Sedahan
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_455726b93cd5729f655ec3f5121f60b1 = L.marker(
                [-8.1370556, 110.5746611],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_5c7cd558de34e2aa89227302da434055 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3c88b8a2c015de97fe126293a6fc058e = $(`<div id="html_3c88b8a2c015de97fe126293a6fc058e" style="width: 100.0%; height: 100.0%;"><b>Pantai Watu Kodok</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_5c7cd558de34e2aa89227302da434055.setContent(html_3c88b8a2c015de97fe126293a6fc058e);
            
        

        marker_455726b93cd5729f655ec3f5121f60b1.bindPopup(popup_5c7cd558de34e2aa89227302da434055)
        ;

        
    
    
            marker_455726b93cd5729f655ec3f5121f60b1.bindTooltip(
                `<div>
                     Pantai Watu Kodok
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_1dd711df7856874d5fe0107654c694d3 = L.marker(
                [-8.096153500000002, 110.4350483],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_b5e142e52f8d2edb5b561cfcf7318e56 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fad47b35b6aa76051a2b55fa7a80a7ac = $(`<div id="html_fad47b35b6aa76051a2b55fa7a80a7ac" style="width: 100.0%; height: 100.0%;"><b>Pantai Kesirat</b><br>Kategori: Bahari<br>Harga: 5000<br>Rating: 4.6</div>`)[0];
                popup_b5e142e52f8d2edb5b561cfcf7318e56.setContent(html_fad47b35b6aa76051a2b55fa7a80a7ac);
            
        

        marker_1dd711df7856874d5fe0107654c694d3.bindPopup(popup_b5e142e52f8d2edb5b561cfcf7318e56)
        ;

        
    
    
            marker_1dd711df7856874d5fe0107654c694d3.bindTooltip(
                `<div>
                     Pantai Kesirat
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_010a9a5832b5eab27834b040ecc5ccbd = L.marker(
                [-8.146423, 110.6061408],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_91f46fd73dae8b7bff6f73ddec6c0344 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2b9e30c105e75a94e9dc0e9dfe7a51b4 = $(`<div id="html_2b9e30c105e75a94e9dc0e9dfe7a51b4" style="width: 100.0%; height: 100.0%;"><b>Pantai Ngandong</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_91f46fd73dae8b7bff6f73ddec6c0344.setContent(html_2b9e30c105e75a94e9dc0e9dfe7a51b4);
            
        

        marker_010a9a5832b5eab27834b040ecc5ccbd.bindPopup(popup_91f46fd73dae8b7bff6f73ddec6c0344)
        ;

        
    
    
            marker_010a9a5832b5eab27834b040ecc5ccbd.bindTooltip(
                `<div>
                     Pantai Ngandong
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a2ba59b77b0df3f1f299970861486cbf = L.marker(
                [-8.1367456, 110.5716362],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_ef1945946a789d130e249bfbaf56cef5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8bf496f5491b2486fb0dd7c8ff75bb1a = $(`<div id="html_8bf496f5491b2486fb0dd7c8ff75bb1a" style="width: 100.0%; height: 100.0%;"><b>Pantai Sanglen</b><br>Kategori: Bahari<br>Harga: 10000<br>Rating: 4.5</div>`)[0];
                popup_ef1945946a789d130e249bfbaf56cef5.setContent(html_8bf496f5491b2486fb0dd7c8ff75bb1a);
            
        

        marker_a2ba59b77b0df3f1f299970861486cbf.bindPopup(popup_ef1945946a789d130e249bfbaf56cef5)
        ;

        
    
    
            marker_a2ba59b77b0df3f1f299970861486cbf.bindTooltip(
                `<div>
                     Pantai Sanglen
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c2c6bcb2b2dcaa70819b87be2bd1e350 = L.marker(
                [-7.907542500000001, 110.0535658],
                {
}
            ).addTo(map_ed0e9cf9f636df77b09e964ee1c7fa31);
        
    
        var popup_536cccf2cafff292f8ada03babbda7f8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3a33b70da9bd6f2965a3441d5339eb25 = $(`<div id="html_3a33b70da9bd6f2965a3441d5339eb25" style="width: 100.0%; height: 100.0%;"><b>Pantai Congot</b><br>Kategori: Bahari<br>Harga: 3000<br>Rating: 4.3</div>`)[0];
                popup_536cccf2cafff292f8ada03babbda7f8.setContent(html_3a33b70da9bd6f2965a3441d5339eb25);
            
        

        marker_c2c6bcb2b2dcaa70819b87be2bd1e350.bindPopup(popup_536cccf2cafff292f8ada03babbda7f8)
        ;

        
    
    
            marker_c2c6bcb2b2dcaa70819b87be2bd1e350.bindTooltip(
                `<div>
                     Pantai Congot
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>